@import "tailwindcss";

@keyframes wave1 {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes wave2 {
  0% { transform: translateX(0); }
  100% { transform: translateX(50%); }
}
.animate-wave1 {
  animation: wave1 12s linear infinite;
}
.animate-wave2 {
  animation: wave2 16s linear infinite;
}